{% extends "mailings/base.html" %}

{% block title %}Удаление клиента{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="col-12 text-center my-5">
    <p>Действительно хотите удалить клиента <b>{{ object.surname }} {{ object.first_name }} {{ object.patronymic }}</b>?</p>
    <form method="post" action="{% url 'mailings:client_delete' object.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="{% url 'mailings:client_detail' object.pk %}" class="btn btn-outline-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
