{% extends "mailings/base.html" %}

{% block title %}Детали рассылки · simpleSENDER{% endblock %}
{% block header %}{% include "mailings/includes/inc_navbar.html" %}{% endblock %}
{% block content %}
<h1 class="mb-4">Детали рассылки</h1>
{% if not mailing.is_active %}
<p class="text-danger text-center fs-4">Рассылка отключена</p>
{% endif %}
{% if perms.mailings.disable_mailing %}
<p>Создатель рассылки: <a href="{% url 'users:user_detail' mailing.owner.pk %}" class="text-decoration-none text-reset"><b>{{ mailing.owner }}</b></a></p>
{% endif %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Тема сообщения</h5>
        <p class="card-text">{{ mailing.message.subject }}</p>

        <h5 class="card-title">Тело сообщения</h5>
        <p class="card-text">{{ mailing.message.body }}</p>

        <h5 class="card-title">Статус рассылки</h5>
        <p class="card-text">{{ mailing.get_status_display }}</p>

        <h5 class="card-title">Дата и время начала</h5>
        <p class="card-text">
            {% if mailing.start_datetime %}
            {{ mailing.start_datetime|date:"d.m.Y H:i" }}
            {% else %}
            Не назначено
            {% endif %}
        </p>

        <h5 class="card-title">Дата и время окончания</h5>
        <p class="card-text">
            {% if mailing.end_datetime %}
            {{ mailing.end_datetime|date:"d.m.Y H:i" }}
            {% else %}
            Не завершено
            {% endif %}
        </p>

        <h5 class="card-title">Получатели</h5>
        <ul>
            {% for client in mailing.clients.all %}
            <li>{{ client.first_name }} {{ client.last_name }}: {{ client.email }}</li>
            {% endfor %}
        </ul>
    </div>
    <!--Кнопки-->
    <div class="card-footer text-center d-flex justify-content-center gap-2">
        <!--Кнопки менеджера-->
        {% if perms.mailings.disable_mailing %}
        {% if mailing.is_active %}
        <!--Отключить-->
        <form method="post" action="{% url 'mailings:mailing_disable' mailing.pk %}">
            {% csrf_token %}
            <div>
                <button type="submit" class="btn btn-outline-dark">Отключить рассылку</button>
            </div>
        </form>
        <!--Отменить рассылку-->
        {% if mailing.job_id %}
        <form method="post" action="{% url 'mailings:mailing_cancel' mailing.pk %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Отменить отправление</button>
        </form>
        {% endif %}
        {% endif %}

        <!--Кнопки пользователя-->
        {% else %}
        {% if mailing.is_active %}
        <!--Отправить-->
        <form method="post" action="{% url 'mailings:mailing_send' mailing.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Отправить</button>
        </form>
        {% if not mailing.job_id %}
        <!--Запланировать-->
        <a class="btn btn-outline-primary" href="{% url 'mailings:mailing_schedule' mailing.pk %}">Запланировать
            рассылку</a>
        {% else %}
        <!--Отменить-->
        <form method="post" action="{% url 'mailings:mailing_cancel' mailing.pk %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary">Отменить отправление</button>
        </form>
        {% endif %}
        <!--Редактировать-->
        <a class="btn btn-outline-secondary" href="{% url 'mailings:mailing_update' mailing.pk %}">Редактировать</a>
        {% endif %}
        <!--Удалить-->
        <a class="btn btn-outline-danger" href="{% url 'mailings:mailing_delete' mailing.pk %}">Удалить рассылку</a>
        {% endif %}

        {% if mailing.is_active %}
        <!--Статистика-->
        <a class="btn btn-outline-secondary" href="{% url 'mailings:mailing_attempts' mailing.pk %}">Статистика</a>
        {% endif %}

    </div>
</div>

<div class="mt-4 text-center">
    <a class="btn btn-outline-secondary" href="{% url 'mailings:mailing_list' %}">Вернуться к списку</a>
</div>
{% endblock %}
